{% extends 'base.html' %} 
{% load static %}
{% block title %}About{% endblock %}
{% block content %}

<section class="ftco-section ftco-no-pt ftc-no-pb">
	<div class="container">
		<div class="row">
			<div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
				<div class="text px-4 ftco-animate">
					<h2 class="mb-4">Welcome to Jules Foundation School Calabar</h2>
					<p>
						Jules Foundation School located at plot 18 NAOWA Shopping Complex,
						Old Odukpani Road, By Army Junction, Calabar, Cross River State,
						South South, Nigeria
					</p>
					<p>
						At Jules Foundation School, every child is a priority, we ensure a
						one-on-one attention for all learners.
					</p>
					<p>
						At Jules Foundation School, Our classrooms are to a capacity of
						fifteen(15) students per class in order to maximize learning.
					</p>
					<p>
						Jules Foundation School is located within a security parameter
						therefore ensuring every child's safety.
					</p>
					<p>
						You are specially welcomed to Jules Foundation School A.K.A trophy
						school where we meet all of your child's academic, affective and
						psycho-motor needs. <br />Thanks for choosing Jules Foundation
						School
					</p>
				</div>
			</div>
			<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
				<h2 class="mb-4">What We Offer</h2>
				<p>
					We are a school which ensures safety of our children, effective
					teaching and learning and special school events like sporting
					activities, swimming, cultural and career day.
				</p>
				<div class="row mt-5">
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div
								class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
							>
								<span class="flaticon-security"></span>
							</div>
							<div class="text">
								<h3>Safety First</h3>
								<p>
									Our environment is secured to prevent every form of disaster.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div
								class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
							>
								<span class="flaticon-diploma"></span>
							</div>
							<div class="text">
								<h3>Certified Teachers</h3>
								<p>We engage qualified and seasoned education.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div
								class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
							>
								<span class="flaticon-education"></span>
							</div>
							<div class="text">
								<h3>Sufficient Classrooms</h3>
								<p>
									We ensure our learners are not more than 15 per classroom.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div
								class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
							>
								<span class="flaticon-kids"></span>
							</div>
							<div class="text">
								<h3>Sports Facilities</h3>
								<p>
									Our sporting events are once in a week and participation is
									mandatory.
								</p>
							</div>
						</div>
					</div>

					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div
								class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
							>
								<span class="flaticon-jigsaw"></span>
							</div>
							<div class="text">
								<h3>Creative Lessons</h3>
								<p>On our children engage in arts &amp; crafts every friday.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div
								class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
							>
								<span class="flaticon-diploma"></span>
							</div>
							<div class="text">
								<h3>Speech training</h3>
								<p>
									Our learners are known for poise and eloquent speech visa
									speech training.
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div
								class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
							>
								<span class="flaticon-diploma"></span>
							</div>
							<div class="text">
								<h3>Virtual school</h3>
								<p>
									Our online school is effective and interactive through class
									dojo (download with the icon at the bottom of the page).
								</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div
								class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
							>
								<span class="flaticon-diploma"></span>
							</div>
							<div class="text">
								<h3>CBT assessment</h3>
								<p>Out test and examinations are computer based.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="services-2 d-flex">
							<div
								class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
							>
								<span class="flaticon-diploma"></span>
							</div>
							<div class="text">
								<h3>E - learning</h3>
								<p>Some of our subjects are thought via electronic learning.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section
	class="ftco-section ftco-counter img"
	id="section-counter"
	style="background-image: url({% static 'images/bg_4.jpg' %})"
	data-stellar-background-ratio="0.5"
>
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
			<div
				class="col-md-8 text-center heading-section heading-section-black ftco-animate"
			>
				<h2 class="mb-4"><span>With Years of</span> Experience</h2>
				<p>
					Jules foundation school has been able to train and retrain its staff
					to achieve 21<sup>st</sup> century educational goals
				</p>
			</div>
		</div>
		<div class="row d-md-flex align-items-center justify-content-center">
			<div class="col-lg-10">
				<div class="row d-md-flex align-items-center">
					<div
						class="col-md d-flex justify-content-center counter-wrap ftco-animate"
					>
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
							<div class="text">
								<strong class="number" data-number="12">0</strong>
								<span>Certified Teachers</span>
							</div>
						</div>
					</div>
					<div
						class="col-md d-flex justify-content-center counter-wrap ftco-animate"
					>
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
							<div class="text">
								<strong class="number" data-number="139">0</strong>
								<span>Happy Parents</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
