{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
<section class="home-slider owl-carousel">
	<div
		class="slider-item"
		style="background-image: url({% static 'images/home-cover-1.jpg' %})"
	>
		<div class="overlay"></div>
		<div class="container">
			<div
				class="row no-gutters slider-text align-items-center justify-content-center"
				data-scrollax-parent="true"
			>
				<div class="col-md-8 text-center ftco-animate">
					<h1 class="mb-4">
						Jules Foundation School<span>Building confidence...</span>
					</h1>
				</div>
			</div>
		</div>
	</div>

	<div
		class="slider-item"
		style="background-image: url({% static 'images/home-cover-2.jpg' %})"
	>
		<div class="overlay"></div>
		<div class="container">
			<div
				class="row no-gutters slider-text align-items-center justify-content-center"
				data-scrollax-parent="true"
			>
				<div class="col-md-8 text-center ftco-animate">
					<h1 class="mb-4">Perfect Learning<span> For Your Child</span></h1>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-services ftco-no-pb">
	<div class="container-wrap">
		<div class="row no-gutters">
			<div
				class="col-md-4 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-primary"
			>
				<div class="media block-6 d-block text-center">
					<div class="icon d-flex justify-content-center align-items-center">
						<span class="flaticon-teacher"></span>
					</div>
					<div class="media-body p-2 mt-3">
						<h3 class="heading">Certified Teachers</h3>
						<p>
							We engage qualified and seasoned education for the better learning
							of our learners.
						</p>
					</div>
				</div>
			</div>
			<div
				class="col-md-4 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-tertiary"
			>
				<div class="media block-6 d-block text-center">
					<div class="icon d-flex justify-content-center align-items-center">
						<span class="flaticon-reading"></span>
					</div>
					<div class="media-body p-2 mt-3">
						<h3 class="heading">Condusive Learning Environment</h3>
						<p>
							Our environment is wired to ensure teaching and learning is
							achieved via spacious classrooms, child friendly facilities and
							constant power supply
						</p>
					</div>
				</div>
			</div>
			<div
				class="col-md-4 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-fifth"
			>
				<div class="media block-6 d-block text-center">
					<div class="icon d-flex justify-content-center align-items-center">
						<span class="flaticon-books"></span>
					</div>
					<div class="media-body p-2 mt-3">
						<h3 class="heading">Book &amp; Library</h3>
						<p>
							We are a school that ensure learners read at the age of four.
							reason why our library is well equipped with books to aid this.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pt ftc-no-pb">
	<div class="container">
		<div class="row">
			<div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
				<div class="text px-4 ftco-animate">
					<h2 class="mb-4">Welcome to Jules Foundation School</h2>
					<p>
						Jules Foundation School located at plot 18 NAOWA Shopping Complex,
						Old Odukpani Road, By Army Junction, Calabar, Cross River State,
						South South, Nigeria
					</p>
					<p>
						At Jules Foundation School, every child is a priority, we ensure a
						one-on-one attention for all learners.
					</p>
					<p>
						At Jules Foundation School, Our classrooms are to a capacity of
						fifteen(15) students per class in order to maximize learning.
					</p>
					<p>
						Jules Foundation School is located within a security parameter
						therefore ensuring every child's safety.
					</p>
					<p>
						You are specially welcomed to Jules Foundation School A.K.A trophy
						school where we meet all of your child's academic, affective and
						psycho-motor needs. <br />Thanks for choosing Jules Foundation
						School
					</p>
				</div>
			</div>
			<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
				<h2 class="mb-4">What We Offer</h2>
				<p>
					We are a school which ensures safety of our children, effective
					teaching and learning and special school events like sporting
					activities, swimming, cultural and career day.
				</p>
				<div class="row mt-5">
					<div class="row mt-5">
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div
									class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
								>
									<span class="flaticon-security"></span>
								</div>
								<div class="text">
									<h3>Safety First</h3>
									<p>
										Our environment is secured to prevent every form of
										disaster.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div
									class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
								>
									<span class="flaticon-diploma"></span>
								</div>
								<div class="text">
									<h3>Certified Teachers</h3>
									<p>We engage qualified and seasoned education.</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div
									class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
								>
									<span class="flaticon-education"></span>
								</div>
								<div class="text">
									<h3>Sufficient Classrooms</h3>
									<p>
										We ensure our learners are not more than 15 per classroom.
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="services-2 d-flex">
								<div
									class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"
								>
									<span class="flaticon-jigsaw"></span>
								</div>
								<div class="text">
									<h3>Creative Lessons</h3>
									<p>
										On our children engage in arts &amp; crafts every friday.
									</p>
								</div>
							</div>
						</div>
						<p>
							<a
								href="{{ url_for('views.about' %}"
								class="btn btn-secondary px-4 py-3 mt-3"
								>Read More</a
							>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section
	class="ftco-intro"
	style="background-image: url({% static 'images/bg_2.jpg' %})"
	data-stellar-background-ratio="0.5"
>
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<h2>Teaching Your Child Some Good Manners</h2>
				<p class="mb-0">
					Jules foundation school not only helps to teach your children book
					wise but also teach them good morals and good behaviors
				</p>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-no-pb">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section ftco-animate">
				<h2 class="mb-4"><span>The</span> Proprietress</h2>
				<img src="{% static 'images/proprietress.jpg' %}" style="height: 400px;width: auto;">
				<h3>Mrs Juliet Nzan</h3>
				<span class="position mb-2">The Proprietress</span>
				<p>
					I'm a wife, a mom, an educationalist, a disciplinarian and a lover of
					children. I hold a degree in mass communication and a post graduate
					diploma in education and im a public servant presently working with
					the ministry of education.
				</p>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section ftco-animate">
				<h2 class="mb-4"><span>Other</span> Lessons</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 course d-lg-flex ftco-animate">
				<div
					class="img"
					style="background-image: url({% static 'images/ucmas.jpg' %})"
				></div>
				<div class="text bg-light p-4">
					<h3><a href="#">UCMAS Lesson</a></h3>
					<p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
					<p>
						Just a quick word about UCMAS will go here
					</p>
				</div>
			</div>
			<div class="col-md-6 course d-lg-flex ftco-animate">
				<div
					class="img"
					style="background-image: url({% static 'images/music.jpg' %})"
				></div>
				<div class="text bg-light p-4">
					<h3><a href="#">Music Lesson</a></h3>
					<p class="subheading"><span>Class time:</span> 9:00am - 10am</p>
					<p>
						Just a quick word about Music will go here
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section
	class="ftco-section ftco-counter img"
	id="section-counter"
	style="background-image: url({% static 'images/bg_4.jpg' %})"
	data-stellar-background-ratio="0.5"
>
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
			<div
				class="col-md-8 text-center heading-section heading-section-black ftco-animate"
			>
				<h2 class="mb-4"><span>7 Years of</span> Experience</h2>
				<p>
					Jules foundation school (JFS) wascommissioned on the 12<sup>th</sup> of July 2015 and has been running smoothly since then with no major setbacks. We hope to bring the best education anyone could offer.
				</p>
			</div>
		</div>
		<div class="row d-md-flex align-items-center justify-content-center">
			<div class="col-lg-10">
				<div class="row d-md-flex align-items-center">
					<div
						class="col-md d-flex justify-content-center counter-wrap ftco-animate"
					>
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
							<div class="text">
								<strong class="number" data-number="18">0</strong>
								<span>Certified Teachers</span>
							</div>
						</div>
					</div>
					<div
						class="col-md d-flex justify-content-center counter-wrap ftco-animate"
					>
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
							<div class="text">
								<strong class="number" data-number="351">0</strong>
								<span>Successful Kids</span>
							</div>
						</div>
					</div>
					<div
						class="col-md d-flex justify-content-center counter-wrap ftco-animate"
					>
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
							<div class="text">
								<strong class="number" data-number="564">0</strong>
								<span>Happy Parents</span>
							</div>
						</div>
					</div>
					<div
						class="col-md d-flex justify-content-center counter-wrap ftco-animate"
					>
						<div class="block-18">
							<div class="icon"><span class="flaticon-doctor"></span></div>
							<div class="text">
								<strong class="number" data-number="300">0</strong>
								<span>Awards Won</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section ftco-animate">
				<h2 class="mb-4"><span>Recent</span> Blogs</h2>
			</div>
		</div>
		<div class="row">
			{% for blog in blogs %}
				<a href="{% url 'blog' %}">
					<div class="col-md-6 col-lg-4 ftco-animate">
						<div class="blog-entry">
							<div
								class="block-20 d-flex align-items-end"
								style="background-image: url('{% static blog.photo %}')"
							>
								<div class="meta-date text-center p-2">
									<span class="day">{{ blog.date }}</span>
								</div>
							</div>
							<div class="text bg-white p-4">
								<h3 class="heading">
									<a>{{ blog.heading }}</a>
								</h3>
								<p>
									{{ blog.desc|truncatechars:100 }}
								</p>
							</div>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</div>
</section>

<section class="ftco-gallery">
	<div class="container-wrap">
		<div class="row no-gutters">
			{% for r in randoms	%}
			<div class="col-md-3 ftco-animate">
				<a
					href="{% static r.photo %}"
					class="gallery image-popup img d-flex align-items-center"
					style="background-image: url({% static r.photo %})"
				>
					<div
						class="icon mb-4 d-flex align-items-center justify-content-center"
					>
						<span class="icon-instagram"></span>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}
