<li class="nav-item">
	<a class="nav-link text-white active bg-gradient-primary"
		href="{{ url_for('admin.home' %}">
		<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
			<i class="material-icons opacity-10">person</i>
		</div>
		<span class="nav-link-text ms-1">Profile</span>
	</a>
</li>
<li class="nav-item">
	<a class="nav-link text-white" href="{{ url_for('admin.staff' %}">
		<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
			<i class="material-icons opacity-10">people</i>
		</div>
		<span class="nav-link-text ms-1">Staff</span>
	</a>
</li>
<li class="nav-item">
	<a class="nav-link text-white" href="{{ url_for('admin.classes' %}">
		<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
			<i class="material-icons opacity-10">school</i>
		</div>
		<span class="nav-link-text ms-1">Students</span>
	</a>
</li>
<li class="nav-item">
	<a class="nav-link text-white" href="{{ url_for('admin.website' %}">
		<div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
			<i class="material-icons opacity-10">school</i>
		</div>
		<span class="nav-link-text ms-1">Website</span>
	</a>
</li>