{% extends "portal/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}
	{{ person.first_name}} {{person.other_names}} {{person.last_name}}
{% endblock %}
{% block content %}
<div class="container-fluid pt-3">
	<section class="py-5">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-8 mx-auto text-center">
						<h3>Change password</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<div class="card card-plain">
						<form method="post" class="text-start">
							{% csrf_token %}
							<div class="card-body">
								<div class="mb-4">
									<div class="input-group input-group-static">
										<label>Old password</label>
										<input type="password" class="form-control" placeholder="Enter your old password" name="former">
									</div>
								</div>
								<div class="mb-4">
									<div class="input-group input-group-static">
										<label>New password</label>
										<input type="password" class="form-control" placeholder="Enter your new password" name="new">
									</div>
								</div>
								<div class="mb-4">
									<div class="input-group input-group-static">
										<label>Confirm new password</label>
										<input type="password" class="form-control" placeholder="Enter your new password again" name="new_confirm">
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<button type="submit" class="btn bg-gradient-info float-end">Change password</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
