{% if messages %}
<div class="card-body p-3 pb-0">
  {% for message in messages %}
  <div class="container">
    {% if message.tags == "error" %}
    <div class="alert alert-danger alert-dismissible text-white" role="alert">
    {% else %}
    <div class="alert alert-{{message.tags}} alert-dismissible text-white" role="alert">
    {% endif %}
      <span class="text-sm">{{ message }}</span>
      <button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
</div>
{% endif %}
